<footer class="p-5 footer bg-light">

  <div>
    <div class="text-uppercase mb-3">Company</div>
    <div><%= link_to "Home", root_path, class: 'link link-hover' %></div>
    <div><a class="link link-hover">About</a></div>
    <div><a class="link link-hover">Pricing</a></div>
    <div><a class="link link-hover">Jobs</a></div>
  </div>

  <div>
    <div class="text-uppercase mb-3">Products and Services</div>
    <div><%= link_to "Templates", templates_path, class: 'link link-hover' %></div>
    <div><%= link_to "App", app_index_path, class: 'link link-hover' %></div>
    <div><a class="link link-hover">Marketing</a></div>
    <div><a class="link link-hover">Advertisement</a></div>
  </div>

  <div>
    <div class="text-uppercase mb-3">Legal</div>
    <div><%= link_to "Terms and Conditions", terms_path, class: 'link link-hover' %></div>
    <div><%= link_to "Privacy policy", privacy_path, class: 'link link-hover' %></div>
  </div>

  <% if !lead? %>
    <div>
      <div class="text-uppercase mb-3">Newsletter</div>
      <div class="w-80">
        <label class="label mb-2">
          <span class="label-text">Join our weekly newsletter!</span>
        </label>
        <div class="input-group mb-3">
          <input v-model="email" placeholder="Email" class="form-control input-lg text-sm">
          <button @click="onSubscribeClick" class="btn btn-primary w-20 text-sm fw-bold">Join</button>
        </div>
        <div v-if="showInvalidMessage" class="red-400">
          {{invalidMessage}}
        </div>
      </div>
    </div>
  <% end %>

</footer>