<!DOCTYPE html>
<html>
<head>
  <title>Rails MVP Starter with Bootstrap</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= render 'shared/google_tag_manager' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag "application", defer: true %>
  <%= stylesheet_link_tag 'tailwind' %>
</head>

<body>
<%= render 'shared/gtm_noscript' %>

<%= render 'shared/tailwind_nav' %>

<div class="container">
  <%= render 'shared/display_message' %>

  <div>
    <h1>Rails MVP Starter Application</h1>
    <div>Welcome!</div>
  </div>

</div>

</body>
</html>