<div id="<%= dom_id invitation %>" class="scaffold_record">
  <p>
    <strong>Email:</strong>
    <%= invitation.email %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= invitation.uuid %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= invitation.company_id %>
  </p>

  <p>
    <%= link_to "Show this invitation", invitation %>
  </p>
</div>
