<div class="row justify-content-md-center mt-5 grid grid-cols-6 gap-4">
  <div class="col col-md-5 col-start-3 col-span-3">

    <div class="card shadow-lg">
      <div class="card-body">

        <h1 class="display-6 mt-2 mb-4 text-center">Welcome Back!</h1>

        <%= google_sign_in_button class: 'btn btn-blue w-100 w-full rounded-pill', proceed_to: api_v1_process_google_oauth_url do %>
          <%= image_tag('google.png', alt: 'Google', width: 32, height: 32) %>
          <span class="p-2">Sign in with Google</span>
        <% end %>

        <%= render 'devise/shared/or_content' %>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-3 form-container">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input input-bordered", placeholder: 'Email'  %>
          </div>

          <div class="mb-3 form-container">
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control input input-bordered", placeholder: 'Password'  %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="mb-3">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-primary btn-min rounded-pill' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
</div>