<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <%= render 'shared/display_errors', model: post %>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: "form-label" %>
    <input id="post_content" value="<%= post.content %>" type="hidden" name="post[content]">
    <trix-editor class="trix-content" input="post_content"></trix-editor>
  </div>

  <div class="mb-3">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', posts_path, class: "btn btn-secondary" %>
  </div>

<% end %>
