<!DOCTYPE html>
<html>
<head>
  <title>RailsMVPStarter</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= render 'shared/google_tag_manager' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag "application", defer: true %>
  <% if !Rails.env.test? %>
    <%= stylesheet_link_tag Rails.application.config.css_framework %>
  <% end %>
</head>

<body>
<%= render 'shared/gtm_noscript' %>

<%= render 'shared/nav' %>

<div class="container">
  <%= render 'shared/display_message' %>
  <%= yield %>
</div>

<%= render 'shared/footer' %>

</body>
</html>
