<!DOCTYPE html>
<html>
<head>
  <title>RailsMVPStarter</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= render 'shared/google_tag_manager' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'shared/gtm_noscript' %>
<br><br>

<%= render 'shared/nav' %>
<%= render 'shared/display_message' %>
<%= yield %>

</body>
</html>
